{% extends 'base.html' %}

{% block content %}
<div class="pure-u-1-2"><h1>Folders</h1></div>

<div class="pure-u-1-2">
	<div class="table-responsive">
		<table class="mq-table pure-table">
			<tbody>
			{% for item in obj %}
			<tr>
				<td class="highlight"> {{ item.title }} </td>
				<td><a class="pure-button" href="/tasks/{{ item.title }}">View Items</a></td>
				<td><a class="pure-button" style="background: rgb(222, 77, 20); color: white; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);" onclick="del('{{ item.title }}')" >Remove</a></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="pure-u-1">
		<div id="table"></div>
		<form class="pure-form" method="POST">
		{% csrf_token %} 
		<fieldset>
			{{ form }}
			<button type="submit" class="pure-button pure-button-primary" disable="">Add</button>
		</fieldset>
		</form>
	</div>
</div>
<script>
    function PUTrequest() {
        $.ajax({
            url: '{{ item.title }}',
            type: 'PUT',
            success: function (result) {
                // Do something with the result
                alert(result.data);
            }
        });
    }
  
    function del(folder) {
		if(!confirm('Are you sure to delete it?'))return;
        $.ajax({
            url: "/folders/"+folder,
            type: 'DELETE',
            success: function (result) {
                // Do something with the result
                location.reload();
            }
        });
    }
</script>
{% endblock %}
